<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="magic_button.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="defaultCall" value="" />
		<add key="defaultName" value="" />
		<add key="defaultContact" value="" />
		<add key="defaultEmergency" value="" />
		<add key="defaultLink" value="" />
		<add key="defaultReciever" value="" />
		<add key="defaultSubject" value="" />
		<add key="defaultBody" value="" />
		<add key="startupApp" value="" />
		<add key="firstStartupDate" value="" />
		<add key="defaultAppPath" value="" />
		<add key="defaultAppName" value="" />
		
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <magic_button.Properties.Settings>
      <setting name="FirstStartupDate" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupAppSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultLink" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultCallNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultCallName" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultEmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultEmailSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultStartupApp" serializeAs="String">
        <value>call</value>
      </setting>
      <setting name="defaultApplicationDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultApplicationName" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultQuickConfigLeft" serializeAs="String">
        <value>link</value>
      </setting>
      <setting name="defaultQuickConfigCenter" serializeAs="String">
        <value>call</value>
      </setting>
      <setting name="defaultQuickConfigRight" serializeAs="String">
        <value>mail</value>
      </setting>
    </magic_button.Properties.Settings>
  </userSettings>
</configuration>